# on run just make a env file in this fomat and then plug in the corresponding values

#Qwen:
# MODEL_PROVIDER=ollama
# MODEL=qwen3.5:9b

#or

# API key :
# MODEL_PROVIDER=xxx
# API_KEY=api_key
# MODEL=xxx
# BASE_URL=xxx
